<div class="flex flex-row" data-controller="event-sensor" data-event-sensor-identifier-value="<%= key %>">
    <div class="mr-2">
        <%= render "shared/tristate_checkbox", state: value, identifier: key, event_sensor: "#{key}:triggered" %>
    </div>
    <div>
        <label data-action="click->event-sensor#invoke" for="<%= key %>" class="leading-4 font-semibold text-slate-600 inline-flex text-xs md:text-sm select-none cursor-pointer hover:underline"><%= label %></label>
        <p class="text-xs text-slate-400 inline-flex select-none"><%= description %></p>
    </div>
</div>